/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Alfa Slab One;
    src: url(../fonts/alfa-slab-one-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {
    font-family: 42dotSans;
    src: url(../fonts/42dotSans.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Atkinson;
    src: url(../fonts/AtkinsonHyperlegibleNext.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Atkinson;
    src: url(../fonts/AtkinsonHyperlegibleNext-Italicwght.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Cormorant;
    src: url(../fonts/Cormorant.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Cormorant;
    src: url(../fonts/Cormorant-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Exo;
    src: url(../fonts/Exo.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Exo;
    src: url(../fonts/Exo-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Marcellus;
    src: url(../fonts/Marcellus-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Oleo Script;
    src: url(../fonts/OleoScript-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Oleo Script;
    src: url(../fonts/OleoScript-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Permanent Marker;
    src: url(../fonts/PermanentMarker-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Satisfy;
    src: url(../fonts/Satisfy-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Sixtyfour Convergence;
    src: url(../fonts/SixtyfourConvergence.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Chakra Petch;
    src: url(../fonts/chakra-petch/ChakraPetch-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Chakra Petch;
    src: url(../fonts/chakra-petch/ChakraPetch-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Chakra Petch;
    src: url(../fonts/chakra-petch/ChakraPetch-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Chakra Petch;
    src: url(../fonts/chakra-petch/ChakraPetch-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Chakra Petch;
    src: url(../fonts/chakra-petch/ChakraPetch-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Chakra Petch;
    src: url(../fonts/chakra-petch/ChakraPetch-Light.ttf);
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: Chakra Petch;
    src: url(../fonts/chakra-petch/ChakraPetch-LightItalic.ttf);
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: Libre Baskerville;
    src: url(../fonts/libre-baskerville/LibreBaskerville-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Libre Baskerville;
    src: url(../fonts/libre-baskerville/LibreBaskerville-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: Libre Baskerville;
    src: url(../fonts/libre-baskerville/LibreBaskerville-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

/* Root */

html {font-size:16px; background-color: #f2f0eb; }


/* Body & Main  */


.dropbtn1 {
    color:#212121;
    padding: 16px;
    font-size: 25px;
    margin-top: 0.25rem;
    text-align: center;
    font-weight: 700;
}
.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 16px 16px 16px 16px;

}

.dropdown-content1 a:hover {background-color: #a6bcc7;}
.dropdown1:hover .dropdown-content1 {display: block;}
.dropdown1:hover .dropbtn1 {background-color:  #748c99;} 

.dropbtn2 {
    color:#212121;
    padding: 16px;
    font-size: 25px;
    margin-top: 0.50rem;
    text-align: center;
    font-weight: 700;
}
.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    overflow:auto;
    width:100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 16px 16px 16px 16px;

}

.dropdown-content2 a:hover {background-color: #a6bcc7;}
.dropdown2:hover .dropdown-content2 {display: block;}
.dropdown2:hover .dropbtn2 {
    background-color:  #748c99;
} 

.dropbtn3 {
    color:#212121;
    padding: 16px;
    font-size: 25px;
    margin-top: 0.25rem;
    text-align: center;
    font-weight: 700;
}
.dropdown3 {
    position: relative;
    display: inline-block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow:auto;
    width:100%;
}

.dropdown-content3 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 16px 16px 16px 16px;
}

.dropdown-content3 a:hover {background-color: #a6bcc7;}
.dropdown3:hover .dropdown-content3 {display:block;}
.dropdown3:hover .dropbtn3 {background-color:  #748c99;} 

body {
    font-family:Lato, Arial, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
}
main {
    background-color:#ffffff;
    background-image:url(../images/.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}

nav {
    margin-top: 3rem;
    border-top: 1px solid #28234b;
    border-bottom: 1px solid #28234b;
    text-align: center;
    font-weight: 700;
}
nav a {
    display: inline-block;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    font-family: 'lato', Arial, sans-serif;
    color: rgb(36, 42, 48);
    text-decoration: none;
}
h1 {
    text-transform: uppercase;
    font-size:3.5rem;
    margin: 0;
    padding: 0.25rem 0.25rem -0.01rem 0.25rem;
    letter-spacing: .5rem;
    color:#212121;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}

h2 {
    text-transform: uppercase;
    text-align:center;
    font-size:2.5rem;
    margin: 0;
    letter-spacing:0.15rem;
    color:#212121;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-weight:normal;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
    padding:2rem 2rem 2rem 2rem;
}

h3 {
    text-transform: uppercase;
    text-align:center;
    text-decoration: overline;
    font-size:2.5rem;
    margin: 0;
    letter-spacing: 0.15rem;
    color:#212121;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    font-weight:normal;
}

h4 {
    text-transform: uppercase;
    text-align:center;
    font-size:2rem;
    margin: 0;
    letter-spacing: 0.10rem;
    color:#212121;
    text-shadow:.09375rem .09375rem .09375rem #b9b9b9;
    padding-bottom:1.125rem;
    font-weight:normal;
    text-decoration: underline;
    span {
        padding-top:0;
        padding-bottom:0;
        padding-left:0.5rem;
        padding-right:0.5rem;
    }
}
.construction 
{
--yellow: 255, 215, 0;
background:rgba(var(--yellow), 0.2);
border-left-width: 10px;
border-left-style: solid;
border-image: repeating-linear-gradient(
45deg,
black,
black 5px,
rgba(var(--yellow)) 5px,
rgba(var(--yellow)) 10px) 
10;
padding:2rem 2rem 2rem 2rem;
}

h5 {
    text-align:center;
    font-size:1rem;
    margin-top: 0.25;
    padding:0.5rem;
    color:#FFF;
    background-color:#333;
    text-shadow:.09375rem .09375rem .09375rem #000;
    padding-bottom:1.125rem;
    font-weight:normal;
}
/* Section & Paragraph */

section {
    margin-top:0.5rem;
}

p {
    font-weight:normal;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:auto;
    margin-right:auto;
    padding-top:0;
    padding-bottom:0;
    padding-left:1rem;
    padding-right:1rem;
    width:90%;
    text-align:left;
}

.example 
{
    font-weight:normal;
    margin-top:5px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    padding-top:0;
    padding-bottom:0;
    padding-left:1rem;
    padding-right:1rem;
    width:auto;
    height:auto;
    text-align:center;
    white-space: nowrap;
    border-left:5px solid #28234b;
    border-bottom: 3px solid #28234b;
}

.bad-link 
{
color:red;
}


/* Image & Figure */
.sgty-hyperlinks 
{
    display: grid;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align:center;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;


}
.sgty-hyperlinks p
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 40px;
    text-align:center;
}

.hyperlink-one 
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    
}
.hyperlink-two 
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.do-this 
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 2px solid #000;
}
.do-this p 
{
    border-bottom: 2px solid #000;
}
.not-this 
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 2px solid #000;
}
.not-this p 
{
    border-bottom: 2px solid #000;
}

.the-end 
{
border-left: 5px solid #ff0000;
}
/* Footer */

footer {
    padding:0rem;
    border-top: 5px solid #333;
}

.copyright {
    font-weight:normal;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:auto;
    margin-right:auto;
    padding-top:0;
    padding-bottom:0;
    padding-left:1rem;
    padding-right:1rem;
    width:90%;
    text-align:left;
}

.copyright a 
{
    font-weight:normal;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:auto;
    margin-right:auto;
    padding-top:0;
    padding-bottom:0;
    padding-left:1rem;
    padding-right:1rem;
    width:90%;
    text-align:left;
    text-decoration: none;
}
.copyright a:hover {color:#3e8e41;}
.return a:hover {
    color: #3e8e41 !important;
    text-decoration: none;
}
a.you-are-here
{
text-decoration:none;
}
a.you-are-here:hover 
{
    text-decoration:none;
    color:#000;
    background-color:#ffffff;
}

a.homepage 
{
    text-decoration:none;
    color:#212121;
}
a.homepage:hover
{
    text-decoration:none;
    color:#000;
}